body{
    margin: 0px;
}

/* HEADER */

#MenuMobile{
    height: 75px;
    background-color: #1d6a96;
    display: flex;
    align-items: center;
}

.MenuMobile_Menu{
    width: 15%;
    justify-content: center;
    display: flex;
}

.MenuMobile_Hamburger{
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}
.Tiret_1{
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}
.Tiret_2{
    width: 31px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}
.Tiret_3{
    width: 27px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}


.MenuMobile_Logo{
    width: 70%;
    text-align: center;
}

.MenuMobile_Logo p{
    color: white;
    font-size: 50px;
    font-family: fantasy;
}


/* CUBES du body */

#CUBES{
    width: 100%;
    height: 100vh;
}

.Cube{
    width: 100%;
    height: 100%;
}

.CUBES_Pack1{
    width: 100%;
    height: 30%;
}


.CUBES_Packer{
    width: 100%;
    height: 50%;
    display: flex;
}

.CUBES_Pack2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CUBES_Pack3{
    width: 100%;
    height: 100%;
    display: flex;
}

.CUBES_Pack4{
    width: 100%;
    height: 50%;
    display: flex;
}

.n1{
    background-color: #85b8cb;
}
.n2{
    background-color: #3da6cc;
}
.n3{
    background-color: #60d5ff;
}
.n4{
    background-color: #022f3f;
}
.n5{
    background-color: #0a0d0e;
}
.n6{
    background-color: #65d2f3;
}